@media screen and /*(min-width: 360px) and */(max-width: 768px) {
    nav {
        top: 80px;
        text-align: center;
        justify-content: space-around;
    }
    .top-bar {
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    #CTA-button {
        display: none;
    }

    .nav-itens {
        font-size: 1rem;
        background-color: #9932CC;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        padding: 1rem;
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    #home-image, #img-yndianara {
        display: none;
    }
    .column-left p {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        width: 60vw;
        height: 0vw;
        padding: 0;
        margin: 0;
    }
    .education img {
        display: none;
    }
    .education h4, ul li {
        width: 100vw;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    h1, h3, h2 {
        margin: 0;
        padding: 0;
    }
    .about-dev {
        width: 100vw;
        font-size: 0.8rem;
        display: grid;
        line-height: normal;
    }
    form {
        width: 100vw;
        padding: 2rem;
        margin: 0;
        font-size: 0.8rem;
        flex-direction: column;
        grid-column: auto;
        align-items: center;
        border: 1px red solid;
    }
    footer p {
        width: 100vw;
        display: flex;
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.5rem;
    }
}