/*Responsividade tela celular vertical*/
@media screen and (max-width: 790px) {
    /*Acrescentar responsividade para tela na horizontal*/
    header {
        flex-direction: column; /*Para ficar abaixo do titlr*/
    }
    nav  {
        justify-content: space-around;
        flex-direction: row;
    }
    .top-bar {
        justify-content: space-around;
        align-items: center;
        display: block;
        font-size: 0.5rem;
        background-color: #9932CC;
        border-radius: 10px 60px;
        /*justify-content: center;*/
        cursor: pointer;
        margin: 0.1rem 0.1rem 0.1rem 0.1rem;
        padding: 1rem;
        text-align: center;
    }
    .column-left p {
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        line-height: normal;
        width: 50vw;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    #home-image, #img-yndianara, 
    .gradu img, h3 {
        display: none;
    }
    #home {
        background-color: #9932CC;
        background: -webkit-linear-gradient(bottom left #4ec6ca 10%, #fff 80%);
        background: -moz-linear-gradient(bottom left, #4ec6ca 10%, #fff 80%);
        background: -o-linear-gradient(bottom left, #4ec6ca 10%, #fff 80%);
        background: linear-gradient(to top right, #4ec6ca 10%, #fff 80%);
    }
    #about{
        /*Remover esse item, deixar apenas a modificação da altura*/
        height: 50vw;
        background-color: #9932CC;
        background: -webkit-linear-gradient(bottom left #9932CC  10%, #4ec6ca 80%);
        background: -moz-linear-gradient(bottom left, #9932CC  10%, #4ec6ca 80%);
        background: -o-linear-gradient(bottom left, #9932CC  10%, #4ec6ca 80%);
        background: linear-gradient(to top right, #9932CC 10%, #4ec6ca 80%);
    }
    .education { /*Colocar em grid o display e grid -template-columns 1fr 1fr*/
        display: grid;
        align-items: center;
        text-align: center;
        font-weight: 0.5rem;
        flex-direction: column;
        padding: 0;
        margin: 0;
        color: #111111;
    }
    .education p {
        color: #111111;
        flex-direction: column;
        line-height: normal;
        font-size: 0.5rem;
        margin: 0;
        padding: 1rem 1rem;
    }
    .gradu {
        color: #111111;
        display: inline-block;
        position: relative;
        width: 60vw;
        height: 20vw;
        margin: 0;
        padding: 1rem;
        font-size: 0.5rem;
        line-height: normal;
    }
    .about-dev::first-letter, h4::first-letter, h3::first-letter, span{
        color: #111111;
        font-size: 0.5rem;
    }
    .dados {
        display: block; /*Alterar para flex*/
        height: 95vw; /*Alterar para altura*/
        padding: 2rem;
        margin: 0;
        font-size: 0.5rem;
        flex-direction: column;
        grid-column: auto;
        align-self: center; /*Aling-self: center*/
    }
    #form-button {
        width: 40vw;
    }
    footer {
        height: 50vw;
    }
    footer p {
        height: 5vw;
        display: flex;
        font-size: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1rem;
    }
}
/*Responsividade TV*/
@media screen and (min-width: 1201px) {
    #about{
        /*Remover esse item, deixar apenas a modificação da altura*/
        height: 30vw;
        background-color: #9932CC;
        background: -webkit-linear-gradient(bottom left #9932CC 10%, #4ec6ca 80%);
        background: -moz-linear-gradient(bottom left, #9932CC 10%, #4ec6ca 80%);
        background: -o-linear-gradient(bottom left, #9932CC 10%, #4ec6ca 80%);
        background: linear-gradient(to top right, #9932CC 10%, #4ec6ca 80%);
    }
    form {
        height: 80vw;
        padding: 2rem;
        align-items: center;
    }
    footer p {
        text-align: center;
        
    }
}