/*Fontes do texto*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
/*
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Leckerli One', cursive;
*/
* {
    font-family: 'Special Elite', cursive;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialised;
}

/*Cabeçalho e navegação*/
nav {
    height: 90px;
    background-color: #9932CC;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10vw; /*valor proporcional ao navegador*/
    margin: 0;
}
#title-home {
    margin: 0.5rem;
}
#title-home a {
    font-family: 'Leckerli One', cursive;
    color: #111111;
    padding: 1rem;
    font-size: 3rem;
}
.top-bar {
    display: inline-block;
    justify-content: space-between;
    align-items: right; /*alinhamento links*/
    padding: 1rem;
    margin: 0.5rem 1rem;
}
.nav-itens{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: #111111;
}
.nav-itens:hover {
    color: #00ffff;
    transition: 0.3s;
}
/*Fim cabeçalho e nav*/

/*Sobre*/
#about {
    height: 50vw;
    background-color: #9932CC;
    background: -webkit-linear-gradient(bottom left #9932CC 10%, #4ec6ca 90%);
    background: -moz-linear-gradient(bottom left, #9932CC 10%, #4ec6ca 90%);
    background: -o-linear-gradient(bottom left, #9932CC 10%, #4ec6ca 90%);
    background: linear-gradient(to top right, #9932CC 10%, #4ec6ca 90%);
}
.education {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    /*margin-top: 20px;*/
    padding: 2rem;
    margin: 2vw;
}
h3 {
    margin-top: 20px; /*Necessário reduzir o margin para não descer muito os outros elementos*/
    /*padding: 2rem;*/
    font-size: 2rem;
    text-align: center;
    color: #111111;
}
.about-dev::first-letter, h4::first-letter, h3::first-letter{
    font-size: 3rem;
    color: #00ffff;
}
.about-dev {
    line-height: 1.5rem;
    align-items: right;
    margin-right: 5px;
    font-weight: bold;
}
.gradu {
    line-height: 1.5rem;
    display: grid;
    justify-content: left;
    margin: 1vw ;
    padding: 2vw;
    width: 55vw;
    text-align: left;
    font-weight: bold;
}
span {
    color: #00ffff;
}

    /*display: grid;
    float: right;
    margin: 0;
    padding: 0;
    height: 25vh;
    width: 30vh;*/
 #img-yndianara {
    box-shadow: 5px 5px 5px #00ffff;
    width: 30%;
    height: 40%;
    float: right;
    display: grid;
    margin: 0;
    border-radius: 5px 90px;
    padding: 1rem;
}
/*Fim sobre*/

/*Corpo do formulário*/
h2 {
    color: #fff;
    margin-bottom: 20px; /*Necessário reduzir o margin para não descer muito os outros elementos*/
    text-align: center;
    font-size: 2rem;
}
.question {
    margin: 20px;
}
form {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 40vh; /*view height*/
    background-color: #222222;
    background-image: url(img/network.png);
    color: #fff;
    padding: 8vh 20vw; /*Posicionamento do form entre left e right*/
}
form p, legend {
    background-color: #222222;
    padding: 10px 10px;
    margin: 5px 15px;
    line-height: 1rem;
}
#smart, #desk, #tab {
    padding: 10px 10px;
    margin: 10px 15px;
    text-align: center;
}
#userComment {    /*Caixa de texto*/
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    margin-left: 10px;
}
#userComment:focus{
    outline: none;
    background-color: #00ffff;
}
#userName, #userJob {
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    margin-left: 10px;
}
#userName:focus, #userJob:focus {
    background-color: #00ffff;
}
#form-button {
    font-family: 'Press Start 2P', cursive; 
    display: block;
    margin-top: 40px; /*Removido outro 40px*/
    width: 25vw;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    color: #222222;
    background-color: #9932CC;
    cursor: pointer;
    border-radius: 20px 35px 20px 35px;
    align-self: center;
}
#form-button:hover {
    background: #00ffff;
    transition: 0.3s;
}
/*Fim corpo formulário*/

/*Página principal*/
.container {
    display: grid; /*Contém container esquerda*/
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15vw;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0 2rem;
}
h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
#home-image {
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: none;
}
#CTA-button {
    font-family: 'Press Start 2P', cursive;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #9932CC;
    background: #222222;
    border-radius: 50px;
}
#CTA-button:hover {
    background: #00ffff;
    transition: 0.3s;
    cursor: pointer;
}
#home-page {
    background: #fff;
}
/*Fim estilização*/

/*Rodapé*/
footer {
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2rem 2rem;
}
footer p {
    height: 5vh;
    display: flex;
    line-height: 2rem;
    justify-content: center;
    text-align: center;
    color: #fff ;
}
.social {
    margin: 60px;
}
/*Fim estilização rodapé*/
